$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$overlay: rgba(37, 43, 70, 0.75);
$border: rgba(255, 255, 255, 0.30);
$offWhite: rgba(247, 247, 247, 1);
$white: hsl(0, 0%, 100%);

$text: 1.125rem;
$headerText: 14px;